<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha do cadastro</title>
    <link rel="stylesheet" href="../CSS/Escolha_Cadastro.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/vx2Dzj9v/image.png">
</head>
<body>
    <div class="body">
    <div class="quadrado">
        <h1>Cadastros</h1>
        <div class="botoes-container">
        <a href="Cadastro.html" div class="botao">Cadastrar como usuário</a>
        <a href="" div class="botao2">Cadastrar como admin</a> </div>
        <a href="" div class="botao3">Voltar</a>
</div>
</div>
    
</div>
</body>
</html>