<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurantes em São Paulo</title>
    <link rel="stylesheet" href="../CSS/RestauranteMA.css">
</head>
<body>
    <div class="wrapper">

        <!-- Top Header -->
        <div class="top-header">
          <div class="menu-icon">☰</div>
          <div class="user-header">
            <span>👤</span> Usuário
          </div>
        </div>
    
        <!-- Logo -->
        <div class="header">
          <div class="header-img">
            <img src="https://i.ibb.co/Q7T008b1/image.png" alt="Logo" />
          </div>
        </div>

    <section class="banner">
        <img src="https://i.ibb.co/xKxvK156/image.png" alt="Banner de restaurante">
    </section>

    <div class="apresetacao">
        <h1>Restaurantes em São Paulo</h1>
        <p>Descubra os melhores restaurantes da cidade e aproveite uma experiência gastronômica única!</p>
    </div>  
    
    <section class="conteudo-geral">

        <div class="intro">
            <p>Quer explorar novos sabores e experiências gastronômicas Em São Paulo? Temos algumas sugestões de restaurantes que vão surpreender o seu paladar! </p>
        </div>

        <div class="restaurant">
            <img src="https://i.ibb.co/n8syZSDs/image.png" alt="Terraço Itália">
            <div class="info">
                <h2>Terraço Itália</h2>
                <p>     Restaurante italiano elegante, ambientado com luz de velas, piano ao vivo e uma vista deslumbrante da cidade.</p>
            </div>
        </div>

        <div class="restaurant">
            <img src="https://i.ibb.co/B2sZMYRW/image.png" alt="Capim Santo">
            <div class="info">
                <h2>Casa Terracota</h2>
                <p>      Restaurante de prestígio que celebra os sabores autênticos do Brasil, transformando ingredientes e pratos tradicionais em criações sofisticadas e visualmente impressionantes.</p>
            </div>
        </div>

        <div class="restaurant">
            <img src="https://i.ibb.co/n8syZSDs/image.png" alt="Jamile Restaurante">
            <div class="info">
                <h2>El Fuego</h2>
                <p>      Comida brasileira com um toque gourmet, acompanhada de drinques exclusivos e uma carta de vinhos selecionados, em um ambiente contemporâneo com cozinha aberta.</p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-top">
          <a href="https://www.bellaavventura.com.br/">
            <img src="https://i.ibb.co/j9vGknyy/image.png" alt="image" border="0">
          </a>
        </div>
        <div class="footer-bottom">
          <div class="footer-left">
            <a href="mailto:bella.avventura@gmail.com">📧 bella.avventura@gmail.com</a>
          </div>
          <div class="footer-center">© 2025 Bella Avventura</div>
          <div class="footer-right">
            <a href="TermosCondicoes.html">Termos e condições </a>
          </div>
        </div>
      </footer>
    
</body>
</html>
